<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MemberFilter</filter-name>
        <filter-class>com.MemberFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NotSignedInFilter</filter-name>
        <filter-class>com.NotSignedInFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RestrictedMemberFilter</filter-name>
        <filter-class>com.RestrictedMemberFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NotSignedInFilter</filter-name>
        <servlet-name>RegisterMember</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NotSignedInFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MemberFilter</filter-name>
        <servlet-name>ViewUserClaimsAndPayments</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MemberFilter</filter-name>
        <servlet-name>MakePayment</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MemberFilter</filter-name>
        <servlet-name>UserDashboard</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admindashdummy.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ViewOutstandingBalances</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ViewClaims</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ApproveMemberships</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ApproveClaims</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ApproveMemberships</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RestrictedMemberFilter</filter-name>
        <servlet-name>MakeClaim</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>com.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveMemberships</servlet-name>
        <servlet-class>com.ApproveMemberships</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveClaims</servlet-name>
        <servlet-class>com.ApproveClaims</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakePayment</servlet-name>
        <servlet-class>com.MakePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMembers</servlet-name>
        <servlet-class>com.ViewMembers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewClaims</servlet-name>
        <servlet-class>com.ViewClaims</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterMember</servlet-name>
        <servlet-class>com.RegisterMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOutstandingBalances</servlet-name>
        <servlet-class>com.ViewOutstandingBalances</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProvisionalMembers</servlet-name>
        <servlet-class>com.ViewProvisionalMembers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserClaimsAndPayments</servlet-name>
        <servlet-class>com.ViewUserClaimsAndPayments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDashboard</servlet-name>
        <servlet-class>com.UserDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>com.AdminDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveMemberships</servlet-name>
        <url-pattern>/ApproveMemberships</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakePayment</servlet-name>
        <url-pattern>/MakePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMembers</servlet-name>
        <url-pattern>/ViewMembers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewClaims</servlet-name>
        <url-pattern>/ViewClaims</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterMember</servlet-name>
        <url-pattern>/RegisterMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOutstandingBalances</servlet-name>
        <url-pattern>/ViewOutstandingBalances</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProvisionalMembers</servlet-name>
        <url-pattern>/ViewProvisionalMembers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserClaimsAndPayments</servlet-name>
        <url-pattern>/ViewClaimsAndPayments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDashboard</servlet-name>
        <url-pattern>/UserDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveClaims</servlet-name>
        <url-pattern>/ApproveClaims</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
